*{
    margin: 0%;
    padding: 0%;
}
.hero{
    height: 100%;
    width: 100%;
    background-color: white;
    background-position: center;
    background-size: cover;
    position: absolute;

}
.loan{
    background-color: green;
    text-align: center;
    position: relative;
    margin: 6%auto;
    padding: 5px;
    width: 1700px;
    height: 440px;
    padding-left: 100px;
    padding-top: 100px;
    padding-right: 10px;
    border-radius: 20px;
    
}
.form{
    background-color: white;
    text-align: center;
    justify-content: right;
    width: 750px;
    height: 300px;
    border-radius: 20px;
   
}
.hp1{
    float: right;
}
.button{
    background-color:green;
    border-radius: 20px;
    width: 550px;
    height: 32px;
}
h3{
    color: green;
}
.hp3{
    font-size: 4rem;
    color: white;
    font-weight: 350;
    text-align: left;
    }
    .hp2{
        font-size: 3.0rem;
        color: white;
        font-weight: 250;
        text-align: left;
        }
        .f4{
            font-size: 1.5rem;
            color:green;
            font-weight: 250;
            
            }
  .p1{
    font-size: 1.5rem;
        color:black;
        font-weight: 200;
        text-align: left;
        float: left;
        padding-left: 20px;
  }      
  .p2{
    font-size: 1.5rem;
        color:black;
        font-weight: 200;
        text-align: left;
        float: right;
        padding-right: 20px;
  }    
  .p3{
    font-size: 1.5rem;
        color:black;
        font-weight: 200;
        text-align: left;
        float: left;
        padding-left: 10px; 
    }

  .placeholder{
    width: 330px;
    height: 40px;
  } 
  .table{
    font-size: 3.0rem;
    color: green;
    font-weight: 250;
    padding-left: 20px;
  }
  .p{
    font-size: 1.5rem;
    color: black;
    font-weight: 170;
    padding-left: 70px;
  }
  .h8{
    background-color: blanchedalmond;
    color: rgb(230, 153, 11);
    height: 1300px;
    width: 300px;
    padding-right: 150px;
  }
  .h2{
    font-size: 1.0rem;
    color: black;
    font-weight: 150;
    padding-left: 15px;
  }
  .a{
    background-color: whitesmoke;
    width: 1400px;
    height: 670px;
    border: 20px;
    border-color: black;
    
  }
  .a1{
    font-size: 1rem;
    color: black;
    font-weight: 150;
  }
  .a2{
    font-size: 1rem;
    color: black;
    font-weight: 150;
    padding: 3%;
  }
.p4{
  float: left;
}
 .h{
  color: green;
  font-size: 2rem;
  font-weight: 250;
 
 }
 .h1{
  font-size: 1.3rem;
  color: black;
  font-weight: 200;
  text-decoration: underline;
}
.a3{
  padding: 3%;
}
.b{
  width: 1400px;
  height: 400px;
  background-color: whitesmoke;
}
.h10{
  background-color: blanchedalmond;
    color: rgb(230, 153, 11);
    height: 990px;
    width: 300px;
    padding-right: 150px;
  
}
.h11{
  float: right;
}

 
  
 